<div class="shopping-list-container" *ngIf="shoppingList.length > 0; else emptyList">
    <h2>Twoja lista zakupów</h2>
    <ul>
        <li *ngFor="let item of shoppingList">
            <strong>{{ item.productName }}</strong> — {{ item.storeName }} —
            <span class="price">{{ item.price | currency:'PLN' }}</span>
            <br />
            <small>{{ item.city }} | {{ item.date | date:'shortDate' }}</small>
        </li>
    </ul>
</div>

<ng-template #emptyList>
    <p>Brak produktów na liście zakupów.</p>
</ng-template>