<div class="login-container">
  <h2>Zaloguj się</h2>

  <form [formGroup]="userForm" (ngSubmit)="doLogin()">

    <!-- Pole dla emaila -->
    <div class="form-group">
      <label for="email">Email</label>
      <input 
        type="email" 
        id="email" 
        formControlName="email" 
        placeholder="Podaj adres email"
        required />
    </div>

    <!-- Pole dla hasła -->
    <div class="form-group">
      <label for="password">Password</label>
      <input 
        type="password" 
        id="password" 
        formControlName="password" 
        placeholder="Wprowadź hasło"
        required />
    </div>
    
    <!-- <div class="remember">
      <label for="#">
        <input type="checkbox"> remember me
      </label>
      <a href="#">Forgot password?</a>
    </div> -->

    <!-- Przycisk logowania -->
    <button type="submit" class="btn btn-primary">Zaloguj</button>
  </form>

  <!-- Sekcja rejestracji -->
  <div class="register-section">
    <p>Nie masz konta?</p>
    <button class="btn" (click)="onRegister()">Zarejestruj się</button>
  </div>
</div>