.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: var(--card-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px var(--shadow-color);
    text-align: left;
  }
  
  .login-container h2 {
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  input:focus {
    border-color: var(--heading-color);
    outline: none;
    background-color: #1C2533; /* Nieco jaśniejsze pole aktywne */
  }
  
  button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .btn-primary {
    background-color: var(--green-button-color);
    color: #ffffff;
  }
  
  .btn-primary:hover {
    background-color: #2563EB;
  }
  
  .btn-secondary {
    background-color: var(--accent-color);
    color: #ffffff;
  }
  
  .btn-secondary:hover {
    background-color: #E11D48;
  }
  
  .register-section {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-section p {
    margin-bottom: 10px;
    color: var(--text-color);
  }
  