<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Dodawanie produktu</title>

</head>
<body>
<section>
    <div class="jumbotron">
        <div class="row">
            <div class="mt-5"><a class="btn btn-secondary" style="padding: 2px" th:href="@{/logout}">Wyloguj się</a></div>
            <div class="mt-5"><a class="btn btn-secondary" style="padding: 2px" th:href="@{/admin/products}">Powrót</a></div>
        </div>
        <div class="subtitle2">
            <h4>Dodaj nowy produkt</h4>
        </div>
        <section class="container">
            <div class="row">
                <form th:action="@{/admin/product/add}" th:object="${product}" method="post">
                    <input type="hidden" th:field="*{productId}"/>

                    <label for="brand">Marka produktu:</label>
                    <input type="text" id="brand" th:field="*{brand}" placeholder="marka produktu" required="required"/>

                    <label for="productName">Nazwa produktu</label>
                    <input id="productName" required="required" type="text" th:field="*{productName}"
                           placeholder="nazwa produktu"/>

                    <label for="weight">Gramatura</label>
                    <input id="weight" required="required" type="text" th:field="*{weight}"
                           placeholder="gramatura w kilogramach"/>

                    <button class="btn btn-success" type="submit">Zapisz</button>
                </form>
            </div>
        </section>
    </div>
</section>
</body>
</html>
