<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">


    <link th:href="@{/styles.css}" rel="stylesheet">
    <title>Strona domowa</title>


</head>
<body>
<section>
    <div class="title main">
        <h1>Witaj!</h1>
    </div>
    <div class="jumbotron">
        <div class="container">
            <p>Witamy w aplikacji: <span th:text="${appName}" class="app-name"></span>, miejscu na twoje zakupy!</p>
            <a href="/login" title="Przejdź do logowania">Zaloguj się</a>
        </div>
    </div>
</section>
</body>
</html>
