<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" lang="pl">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title>Nowa lista</title>
</head>
<body>
<div class="jumbotron">
    <div>
        <div class="mt-4"><a class="link-primary" th:href="@{/logout}">Wyloguj się</a></div>
        <div class="mt-4"><a class="link-primary" th:href="@{/user/}">Powrót</a></div>
    </div>
    <div class="title">
        <h4>Dodawanie listy zakupów</h4>
    </div>

    <section class="container">
        <div class="row">
            <form th:action="@{/user/shopping/new}" th:object="${shoppingList}" method="post">
                <label for="listName">Nazwa listy:</label>
                <input type="text" id="listName" th:field="*{listName}" required="required"/>
                <label for="shop">Sklep:</label>
                <select required="required" id="shop" th:field="*{shop}">
                    <option value="">Wybierz sklep</option>
                    <option th:each="shop : ${shops}" th:value="${shop.id}"
                            th:text="${shop.name} + ' ' + ${shop.city}"></option>
                </select>
                <button type="submit">Dodaj listę zakupową</button>
            </form>
        </div>
    </section>
</div>
<div class="jumbotron">
    <div class="subtitle2">
        <h4>Przypisanie zakupu do listy zakupowej</h4>
    </div>
    <section class="container">
        <div class="row">
            <form th:action="@{/user/shopping/addPurchase}" th:object="${purchase}" method="post">
                <label for="product">Produkt:</label>
                <select required="required" id="product" th:field="*{product}">
                    <option value="">Wybierz produkt</option>
                    <option th:each="product : ${products}" th:value="${product.productId}"
                            th:text="${product.productName} + ' ' + ${product.brand} + ', waga: ' +${product.weight}"></option>
                </select>
                <label for="price">Cena:</label>
                <input id="price" required="required" type="number" step="0.01" th:field="*{price}"
                       placeholder="cena"/>

                <label for="lista">Lista:</label>
                <select required="required" id="lista" th:field="*{shopping}">
                    <option value="">Wybierz listę</option>
                    <option th:each="list : ${existingLists}" th:value="${list.id}" th:text="${list.listName}"></option>
                </select>
                <button class="btn btn-success" type="submit">Dodaj zakup do listy</button>
            </form>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <table class="table table-bordered table-hover">
                <tr>
                    <th>Nazwa listy</th>
                    <th>Sklep</th>
                    <th>Nazwa produktu</th>
                    <th>Cena</th>
                    <th>Usuń</th>
                </tr>

                <tr th:each="purchase : ${existingPurchases}">
                    <td th:text="${purchase.shopping.listName}"></td>
                    <td th:text="${purchase.shopping.shop.name} + ' ' + ${purchase.shopping.shop.city}"></td>
                    <td th:text="${purchase.product.productName}"></td>
                    <td th:text="${purchase.price}"></td>
                    <td class="editCustom">
                        <a th:href="${'/user/shopping/deletePurchase/' + purchase.id}" class="btn btn-danger"
                           id="deleteButton" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">Usuń</a>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</div>
</body>
</html>
